

<%- include('../partials/header') %>
    <ul>
        <% skills.forEach(function(skill) { %>
            <li>
               <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
                - 
                <%= skill.details.length > 5 ? 'Has mastered over 5 components' : 'Has Mastered close to  5 components' %>
            </li>
            <% }); %>
    </ul>
    <a class="nav-link" href="/skills/new">Add New Skill</a>
<%- include('../partials/footer') %>