
<%- include('../partials/header') %>
    <h2><%= skill.skill %> Components Mastered</h2>
        <ol>
            <% for (i =0; i < skill.details.length; i++) { %>
            <li>
                <%= skill.details[i] %>
            </li>
       <% } %>
        </ol>
        <form action="/skills/<%=skill.id%>?_method=DELETE" method="POST">
            <button type ="submit" class ="btn btn-danger">DELETE</button>
        </form>
        <form action="/skills/<%=skill.id%>/edit?_method=EDIT" method="GET">
            <button type ="submit">EDIT</button>
        </form>

<%- include('../partials/footer') %>
    