
  <%- include('./partials/header') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> as of <%= time %></h1>
    <p>Welcome to Nova's <%= title %></p>
    
  <%- include('./partials/footer') %>
